torch
dspy
vllm
bitsandbytes
accelerate
transformers
datasets
pytest
psutil
litellm
ruff
mypy
matplotlib
pandas
numpy

# NoveltyBench requirements
aiofiles
sacrebleu
tabulate
colorama
evaluate
scikit-learn
rouge-score
bert_score
tiktoken
altair
protobuf
cohere
google-genai
anthropic[vertex]
langdetect
nltk
immutabledict
python-dotenv
